<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
    <h1>Coding Bootcamps</h1>

    <p>In the recent years “Coding Bootcamps” started to appear all over the world. They promise to teach students in a couple of month more than traditional educational institutions are teaching in years.</p>
    <p>In an un-opinionated way, I’ll include below a list of such coding bootcamps:</p>

      {% include bootcamps.html %}
  
      <p class="meta">{{ page.date | date_to_string }}</p>
      {% include sharebuttons.html %}
      {% include page-footer.html %}
    </section>

    {% include analytics.html %}
    

  </body>
</html>




